/* style001.css */

body
{
    background-color: rgb(30, 30, 30);
    color: rgb(255, 255, 255);
}

textarea
{
    padding: 7px 10px;
    background-color: rgb(30, 30, 30);
    font-size: 24px;
    font-weight: bold;
    overflow-y: scroll;
    color: rgb(255, 255, 255);
}

button
{
    background: rgb(0, 0, 0);
    font-size: 15px;
    color: rgb(100, 100, 100);
    border: solid 1px rgb(100, 100, 100);
    border-radius: 8px;
    cursor: pointer;
    z-index: 2;
    align-self: flex-start;
}

button:hover
{
    border-color: rgb(0, 255, 255);
    color: rgb(0, 255, 255);
}

button:active
{
    color: rgb(255, 0, 255);
}

::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track
{
    background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb
{
    background-color: rgba(120, 120, 120, 0.6);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover
{
    background-color: rgba(120, 120, 120, 0.9);
}

/*----*/

/* Dedicated to God the Father */
/* All Rights Reserved Christopher Andrew Topalian Copyright 2000-2025 */
/* https://github.com/ChristopherTopalian */
/* https://github.com/ChristopherAndrewTopalian */
/* https://sites.google.com/view/CollegeOfScripting */

